.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #100803;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 50px;
  height: 50px;
}

.closeIcon {
  margin: 8px;
}

.button {
  margin-top: 16px;
  width: 100%;
  text-transform: capitalize;
}
.navLink {
  text-decoration: none;
}

.active {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #5f9ea0; /* Active button color */
  background-color: rgba(95, 158, 160, 0.2); /* Optional active background */
  width: 200px;
}

.inactive {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #030000; /* Default button color */
  width: 200px;
}

.listItem {
  color: inherit; /* Ensure it inherits the color */
}

.logoLink {
  text-decoration: none;
}

.logo {
  height: 80px;
  width: auto;
  margin-left: 0;
}
.search {
  border: 1px solid white;
}
.navLink {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}
/* style={{ color: isActive ? "#FFFFFF" : "#83838c" }} */
/* .drawer {
  background-color: red;
  display: flex;
  flex-direction: column;
}
.list {
  display: flex;
  flex-direction: column;
} */
